<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <span class="text-muted">&copy; 2022 Paris events, Inc. All rights reserved.</span>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <!-- <li class="ms-3"><a class="text-muted" href="#" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a></li> -->
        <li class="ms-3"><a class="text-muted" href="mailto:abel.ouedraogo@gmail.com" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-at"></i></a></li>
        <li class="ms-3"><a class="text-muted" href="https://twitter.com/AbelOuedraogo?t=Xwuzh3MlJzM6gyd8X9BC-Q&s=03" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-twitter"></i></a></li>
      </ul>
    </footer>
    <!--
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">API</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Développement</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Hébergement</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
      </ul>
      -->
  </div>
