<div class="container">
    <div class="introduction">
      <h1>Bienvenue sur Paris Events</h1><br>
      <p>un agenda participatif de la Ville de Paris.</p><br>
      <p>Elle vous permettra de visualiser les évènements et activités de Paris et ses alentours en temps réel - mise à jour tous les jours.</p>

      <div class="description">
        <p>Les lieux parisiens tels que les Bibliothèques et Musées de la Ville, les parcs et jardins, les centres d'animations, les piscines, les théâtres, les grands lieux comme la Gaîté Lyrique, le CENTQUATRE, le Carreau du Temple, les salles de concert, les associations et même les parisiens insérent leurs événements.</p>
      </div>
    </div>
</div>


  