<div class="container">
    <header class="jumbotron">
      <p>{{ content }}</p>
    </header>

    <div class="introduction">
      <h1>Bienvenue sur Paris Events App</h1>
      <p>La Paris Events App est une application qui reprend les données de l'API Que faire à Paris qui est l’agenda participatif de la Ville de Paris. Vous trouverez ici tous les événements et activités de Paris et sa région.</p>
      <p>Elle vous permettra de visualiser les évènements et activités de Paris et ses alentours en temps réel - mise à jour tous les jours.</p>
      <p>les lieux parisiens tels que les Bibliothèques et Musées de la Ville, les parcs et jardins, les centres d'animations, les piscines, les théâtres, les grands lieux comme la Gaîté Lyrique, le CENTQUATRE, le Carreau du Temple, les salles de concert, les associations et même les parisiens sont invités à insérer leurs événements.</p>
      <!-- 
      <img class="img-responsive styled" alt="lieux culturels à paris" src="../assets/img/ville_de_paris.jpg" >
      -->
  </div>
</div>


  